<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

		<typeAlias type="huation.model.member.MemberDTO"
			alias="MemberDTO" />
		
		
		<typeAlias type="huation.model.board.BoardDTO"
			alias="BoardDTO" />
			
		<typeAlias type="huation.model.board.CommentDTO"
			alias="CommentDTO" />
			
		<typeAlias type="huation.model.aboard.AboardDTO"
			alias="AboardDTO" />
			
		<typeAlias type="huation.model.aboard.AcommentDTO"
			alias="AcommentDTO" />
			<typeAlias type="huation.model.chart.ChartDTO"
			alias="ChartDTO" />

													
	</typeAliases>

	
		
		

	<mappers>
		<mapper resource="/huationSQL/hueboardSQL.xml" />
		<mapper resource="/huationSQL/hueaboardSQL.xml" />
		<mapper resource="/huationSQL/huememberSQL.xml" />
	</mappers>


</configuration>